---
layout: default
---

{% include site-nav.html %}
{% include header.html %}

{% assign num = page.photos.size %}

<div>
<article>
<blockquote>
    <p>
        {{ page.description }}
    </p>
</blockquote>
</article>

<ul>
  {% for photo in page.photo_list %}
  <li>
    <img src="{{ photo.url }}" alt="{{ photo.name }}">
  </li>
  <br/>
  {% endfor %}
</ul>

<div>
  <a href="{{ site.baseurl }}/photos/">浏览所有相册</a>
</div>

</div>

<br>
<div style="text-align: center; margin: 20px 0 20px 0;"> 相册评论 </div>
{% include comments.html %}
